.cart-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(251, 253, 188);
  border-right: solid black 2px;
}
.btn-eff {
  background-color: var(--color1);
  border: 0;
  margin-left: 45px;
  margin-top: 50px;
  font-size: 25px;
  font-family: var(--font1);
  box-shadow: var(--shadow1);
  color: rgb(55, 55, 55);
  transition: ease 0.4s;
}
.btn-eff a {
  transition: ease 0.4s;
}
.btn-eff:hover {
  transform: scale(1.05);
  background-color: var(--color2);
  color: white;
}
.btn-eff a:hover {
  text-decoration: none;
}
.cart-title {
  position: fixed;
  left: 5%;
  top: 20%;
  transform: translateX(-30%) rotate(-90deg);
  z-index: 10;
  font-size: 100px;
  text-decoration: none;
}
.img-wish {
  margin-top: 0;
}
.wish-wrap {
  background-color: rgb(255, 255, 255);
}
.wish-card {
  padding: 0;
  border: 0;
  box-shadow: var(--shadow1);
}
.border-wish {
  border-bottom: solid 2px black;
}
/* input */
.input-qte {
  width: 15%;
  margin-left: 5px;
  box-shadow: var(--shadow1);
  border: none;
  border-radius: 8px;
  padding: 0 10px;
}
/* btn */

.btn-effacer {
  font-family: var(--font1);
  cursor: pointer;
  border: 0;
  border-left: solid black 1px;
  margin-left: 15px;
  background-color: var(--color1);
  color: rgb(46, 46, 107);
  transition: ease 0.4s;
}
.btn-effacer:hover {
  color: red;
}
.btn-payer {
  background-color: var(--color1);
  border: 0;
  font-family: var(--font1);
  transition: ease 0.4s;
}
.btn-payer a {
  color: black;
}
.btn-payer:hover a {
  color: var(--color2);
  text-decoration: none;
}
.btn-payer:hover {
  transform: translate(30px);
}

@media (max-width: 1200px) {
  .cart-title {
    left: 30px;
  }
}
@media (max-width: 992px) {
  .cart-title {
    left: 10px;
    transform: translateX(-35%) rotate(-90deg);
  }
}
@media (max-width: 762px) {
  .cart-title {
    left: 0;
    transform: translateX(-35%) rotate(-90deg);
    font-size: 80px;
  }
}
@media (max-width: 762px) {
  .cart-title {
  }
}
