:root {
  --color1: rgb(255, 240, 228);
  --color2: rgb(245, 121, 121);
  --font1: Georgia, "Times New Roman", Times, serif;
  --shadow1: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
body,
html {
  height: 100%;
}
