.hist-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(67, 57, 50);
  border-right: solid black 2px;
}
.btn-eff {
  background-color: var(--color1);
  border: 0;
  margin-left: 45px;
  margin-top: 50px;
  font-size: 25px;
  font-family: var(--font1);
  box-shadow: var(--shadow1);
  color: rgb(55, 55, 55);
  transition: ease 0.4s;
}
.btn-eff a {
  transition: ease 0.4s;
}
.btn-eff:hover {
  transform: scale(1.05);
  background-color: var(--color2);
  color: white;
}
.btn-eff a:hover {
  text-decoration: none;
}
.hist-title {
  position: fixed;
  left: 5%;
  top: 25%;
  transform: translateX(-30%) rotate(-90deg);
  z-index: 10;
  font-size: 100px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.img-wish {
  margin-top: 0;
}
.wish-wrap {
  background-color: rgb(255, 255, 255);
}
.wish-card {
  padding: 0;
  border: 0;
  box-shadow: var(--shadow1);
  background-color: var(--color1);
}
.border-wish {
  border-bottom: solid 2px black;
}
.btn-dlt-wish {
  font-family: var(--font1);
  cursor: pointer;
  transition: ease 0.4s;
}
.btn-dlt-wish:hover {
  transform: translateX(30px);
  color: var(--color2);
}

@media (max-width: 1200px) {
  .hist-title {
    left: 10px;
    font-size: 80px;
  }
}
@media (max-width: 992px) {
  .hist-title {
    left: 10px;
    transform: translateX(-35%) rotate(-90deg);
  }
}
@media (max-width: 762px) {
  .hist-title {
    left: 0;
    transform: translateX(-35%) rotate(-90deg);
    font-size: 60px;
  }
}
