.navbar-brand {
  margin-left: 20px;
}
.navbar-nav {
  margin-left: 50px;
}
.navbar {
  background-color: rgb(171, 23, 0);
}
a {
  color: white !important;
  transition: ease 0.5s !important;
}
a:hover {
  color: rgb(30, 30, 30) !important;
}
